

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="UserStyle/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="/usersignup">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Forgot Password</h3>
						<form class="row login_form" action="/forgotpassword" method="post" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="number" class="form-control" id="contactEmail" name="registerednumber" placeholder="Enter regitered number">
								<span class="text-danger" id="emailError"></span>
							</div>
							<div class="col-md-12 form-group">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Submit</button>
								<span class="text-danger" id="submitError"></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	
</body>

</html>
{{!-- <script>
var emailError = document.getElementById("emailError")
var passwordError = document.getElementById("passwordError")
var submitError = document.getElementById("submitError");



function validateEmail() {
    var email = document.getElementById("contactEmail").value;
    if (email.length == 0) {
        emailError.innerHTML = "Email required";
        
        return false;
    }
    if (!email.match(/^[a-zA-Z0-9.!#$%&’+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$/)) {

        emailError.innerHTML = 'Email Invalid';
        return false;

    }
    emailError.innerHTML = "";
    return true;
}

function validatePassword() {
    var password = document.getElementById("contactPassword").value;
    if (password.length == 0) {
        passwordError.innerHTML = "Password required";
        return false;
    }
    if (!password.match(/^\d{4}$/)) {

        passwordError.innerHTML = 'Only 4 digits';
        return false;

    }
    passwordError.innerHTML = "";
    return true;
}

function validateForm() {
    if (!validateEmail() || !validatePassword()) {

        submitError.innerHTML = 'Please fill the fields to submit';
        setTimeout(function () { submitError.style.display = 'none'; }, 4000)
        return false;
    }
}
</script> --}}

