

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="UserStyle/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="/usersignup">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Otp Log in</h3>
						<form class="row login_form" action="/otplogin" method="post" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="textbox" class="form-control" id="name" name="number" value="" placeholder="Enter Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Number'"
								onkeyup="validateOtp()">
								<span class="text-danger" id="texterror"></span>
							</div>
							<div class="col-md-12 form-group">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" id="otpsubmit" value="submit" class="primary-btn">Log In</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	
</body>

</html>

<script>
	function validateOtp(){
		const num = document.getElementById("name").value
		console.log(num,'jjjjjjjjjjj')
		if(isNaN(num)){
			document.getElementById("texterror").innerHTML = "Enter Number"
			document.querySelector('#otpsubmit').disabled = true;
		}else{
			document.querySelector('#otpsubmit').disabled = false;
		}
	}
</script>