

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="UserStyle/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="/usersignup">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" action="/userlogin" method="post" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="contactEmail" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" onkeyup="validateEmail()">
								<span class="text-danger" id="emailError"></span>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="contactPassword" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" onkeyup="validatePassword()">
								<span class="text-danger" id="passwordError"></span>
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn" onclick="return validateForm()">Log In</button>
								<span class="text-danger" id="submitError"></span>
								<a href="/forgotpassword">Forgot Password?</a>
								<a href="/otplogin">Otp Login</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	
</body>

</html>
<script>
var emailError = document.getElementById("emailError")
var passwordError = document.getElementById("passwordError")
var submitError = document.getElementById("submitError");



function validateEmail() {
    var email = document.getElementById("contactEmail").value;
    if (email.length == 0) {
        emailError.innerHTML = "Email required";
        
        return false;
    }
    if (!email.match(/^[a-zA-Z0-9.!#$%&’+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$/)) {

        emailError.innerHTML = 'Email Invalid';
        return false;

    }
    emailError.innerHTML = "";
    return true;
}

function validatePassword() {
    var password = document.getElementById("contactPassword").value;
    if (password.length == 0) {
        passwordError.innerHTML = "Password required";
        return false;
    }
    if (!password.match(/^\d{8}$/)) {

        passwordError.innerHTML = 'Only 8 digits';
        return false;

    }
    passwordError.innerHTML = "";
    return true;
}

function validateForm() {
    if (!validateEmail() || !validatePassword()) {

        submitError.innerHTML = 'Please fill the fields to submit';
        setTimeout(function () { submitError.style.display = 'none'; }, 4000)
        return false;
    }
}
</script>

