<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="UserStyle/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Nike Shop</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="UserStyle/css/linearicons.css">
	<link rel="stylesheet" href="UserStyle/css/font-awesome.min.css">
	<link rel="stylesheet" href="UserStyle/css/themify-icons.css">
	<link rel="stylesheet" href="UserStyle/css/bootstrap.css">
	<link rel="stylesheet" href="UserStyle/css/owl.carousel.css">
	<link rel="stylesheet" href="UserStyle/css/nice-select.css">
	<link rel="stylesheet" href="UserStyle/css/nouislider.min.css">
	<link rel="stylesheet" href="UserStyle/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="UserStyle/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="UserStyle/css/magnific-popup.css">
	<link rel="stylesheet" href="UserStyle/css/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

{{>userHeader}}
{{{body}}}
{{>userFooter}}

	<!-- image zoom -->
	<script src="https://unpkg.com/js-image-zoom/js-image-zoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>
	<!-- image zoom -->
    <!-- Photo croping-->
	<script defer src="https://cdn.crop.guide/loader/l.js?c=VPFZDJ"></script>
    <!-- Photo croping-->
	<script src="UserStyle/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="UserStyle/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="UserStyle/js/vendor/bootstrap.min.js"></script>
	<script src="UserStyle/js/jquery.ajaxchimp.min.js"></script>
	<script src="UserStyle/js/jquery.nice-select.min.js"></script>
	<script src="UserStyle/js/jquery.sticky.js"></script>
	<script src="UserStyle/js/nouislider.min.js"></script>
	<script src="UserStyle/js/countdown.js"></script>
	<script src="UserStyle/js/jquery.magnific-popup.min.js"></script>
	<script src="UserStyle/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="UserStyle/js/gmaps.min.js"></script>
	<script src="UserStyle/js/main.js"></script>
	<script src="Javascript/script.js"></script>
	
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	    <script defer src="https://cdn.crop.guide/loader/l.js?c=TCRBTD"></script>


</body>

</html>